@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #5d2a77 24%, #d69cc2 92%);
  font-family: 'Zain', sans-serif;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 100px;
}

.music-container {
  background: #e8d0e9;
  border-radius: 50px;
  box-shadow: 0 20px 20px rgba(13, 33, 50, 0.6);
  display: flex;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}

.img-container {
  width: 120px;
  position: relative;
}

.img-container img {
  width: 120px;
  height: 120px;
  border-radius: 75%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: #8a80b9;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.progress {
  background: #583840;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: #caa5bd;
  border: none;
  color: #6a1c6a;
  font-size: 60px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 30px;
  color: #451554;
}

ul {
  justify-content: left;
  list-style-type: none; 
  padding-left: 1px
 
  ; 
   
}

ul li {
  background-image: url('/music-player/images/musicsymbol.png'); 
  background-repeat: no-repeat;
  background-size:16px 16px;
  background-position: 0 50%; 
  padding-left: 20px; 

}